---
layout: archive
---

<h1 class="archive__subtitle">{{ site.data.ui-text[site.locale].home_page | default: "Welcome to my site!" }}</h1>

<p class="lead mb-5"></p>
<font size="4"> I'm a PhD student in Economics at The University of Chicago Booth School of Business working in several projects in the field of Labor and Industrial Organization in the context of the developing world.  </font>
<p class="lead mb-5"></p>

<font size="4">You can reach me at: francocalle [at] chicagobooth [dot] edu, or find me on <a href="https://twitter.com/FrancoCalle/" target="_blank">Twitter</a>.</font>
<!-- <font size="4">For more information about me: <a href="https://www.dropbox.com/s/cykvv8sxauj2oyw/Resume%20-%20FC.pdf?dl=0">Download my CV</a>. -->
<!-- {% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %} -->

{% include paginator.html %}
